<%= stylesheet_pack_tag 'article_edit/application', media: 'all' %>
<%= javascript_pack_tag 'article_edit/application' %>

<%= form_with(model: article, url: admin_article_edit_path + "/" + article.id.to_s, local: true) do |form| %>
<% if article.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(article.errors.count, "error") %>：入力に問題があります。</h2>
    <ul>
        <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field form-group">
    <%= form.label :title, "記事タイトル" %>
    <%= form.text_field :title, { class:"form-control" } %>
</div>

<div class="field form-group">
    <%= form.label :content, "サブタイトル" %>
    <%= form.text_field :sub_title, { class:"form-control" } %>
</div>

<div class="field form-group image_field">
    <%= form.label :title_image, "タイトル画像" %>
    <%= form.file_field :title_image, { class:"form-control" } %>
    <br>
    <p>プレビュー画像</p>
    <div class="row">
        <hr class="col md-12">
    </div>
    <div id="image_preview">
        <%= image_tag_with_default article.title_image_compressed %><br>
    </div>
    <div class="row">
        <hr class="col md-12">
    </div>
</div>


<div class="field form-group">
    <%= form.label :areas, "タグ(地域)" %>
    　　<%= form.collection_check_boxes(:area_ids, @all_areas, :id, :name) do |b| %>
    　　<%= b.label { b.check_box + b.text } %>
    <% end %>
</div>

<div class="row">
    <hr class="col md-12">
</div>

<div class="field form-group">
    <%= form.label :categorys, "タグ(カテゴリ)" %>
    　　<%= form.collection_check_boxes(:category_ids, @all_categorys, :id, :name) do |b| %>
    　　<%= b.label { b.check_box + b.text } %>
    <% end %>
</div>

<div class="row">
    <hr class="col md-12">
</div>


<div class="field form-group">
    <%= form.label :content, "記事(マークダウン形式)" %>
    <%= form.text_area :content, { id: "editor", class:"form-control" } %>
    <div id="cont_area"></div>
</div>

<div class="actions btn-group d-flex">
    <button id="template-button" type="button" class="btn btn-primary btn-raised w-80 ml-2">
        テンプレ追加
    </button>
    <button id="blogcard-button" type="button" class="btn btn-primary btn-raised w-80 ml-2">
        BlogCard追加
    </button>
    <button id="preview-button" type="button" class="btn btn-primary btn-raised w-80 ml-2" data-toggle="modal" data-target="#modal1">
        プレビュー
    </button>
</div>

<div class="row">
    <hr class="col md-12">
</div>

<div class="row">
    <label class="col md-12">GoogleMapURL:
        <input id="map-input" class="form-control" type="text">
    </label>
    <button id="map-button" type="button" class="btn btn-warning btn-raised w-80 ml-2">
        緯度,経度入力
    </button>
</div>


<div class="field form-group">
    <%= form.label :title, "緯度" %>
    <%= form.text_field :latitude, { id:"lat-input", class:"form-control" } %>
</div>
<div class="field form-group">
    <%= form.label :title, "経度" %>
    <%= form.text_field :longitude, { id:"long-input", class:"form-control" } %>
</div>

<!-- 
<div class="row">
    <hr class="col md-12">
</div>

<div class="field image_field form-group">
    <%= form.label :content_images, "記事画像(複数選択可能)" %>
    <%= form.file_field :content_images, multiple: true, class: "form-control" %><br>

    <p>プレビュー画像</p>
    <div id="image_previews">
        <% article.content_images.each do |image| %>
        <%= image_tag(image, { width:400, class: "m-2" }) %>
        <% end %>
    </div>
</div>
-->
<div class="row">
    <hr class="col md-12">
</div>

<div class="field form-check">
    <%= form.check_box :status, { class:"form-check-input", id:"check-status" }, "draft", "open" %>
    <label class="form-check-label" for="check-status">
        下書き
    </label>
</div>

<div class="row">
    <hr class="col md-12">
</div>


<div class="actions btn-group d-flex">
    <%= form.submit "確定", { class: "btn btn-raised btn-primary w-80 mr-2" } %>
    <%= link_to 'キャンセル', "/admin/article_edit/", { class: "btn btn-danger btn-raised w-80 ml-2" } %>
</div>

<% end %>

<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="preview_area"></div>
            </div>
        </div>
    </div>
</div>