<%= javascript_pack_tag 'article_edit/_form' %>
<%= form_with(model: article, url: admin_article_edit_path + "/" + article.id.to_s, local: true) do |form| %>
<% if article.errors.any? %>
<div id="error_explanation">
    <h2><%= pluralize(article.errors.count, "error") %>：入力に問題があります。</h2>
    <ul>
        <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
</div>

<div class="field image_field">
    <%= form.label :title_image %>
    <%= form.file_field :title_image %><br>
    <div id="image_preview">
        <%= display_image article.title_image %><br>
    </div>
</div>

<div class="field">
    <%= form.label :content %>
    <%= form.text_area :sub_title %>
</div>

<%= form.label :areas %>
　　<%= form.collection_check_boxes(:area_ids, @all_areas, :id, :name) do |b| %>
　　<%= b.label { b.check_box + b.text } %>
<% end %>

</br>

<%= form.label :categorys %>
　　<%= form.collection_check_boxes(:category_ids, @all_categorys, :id, :name) do |b| %>
　　<%= b.label { b.check_box + b.text } %>
<% end %>

<div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
</div>

<div class="field image_field">
    <%= form.label :content_images %>
    <%= form.file_field :content_images, multiple: true %><br>
    <% article.content_images.each do |image| %>
    <%= image_tag(image, width:400) %>
    <% end %>
    <div id="image_preview">
    </div>
</div>


<div class="actions">
    <%= form.submit %>
</div>


<% end %>