<%= javascript_pack_tag 'article_edit_show/application' %>
<%= link_to '戻る', "/admin/", class: "btn btn-raised btn-danger col-md-4" %>
<div class="mx-auto" style="width: 300px;">
    <h1>記事一覧</h1>
</div>
<div class="row">
    <a class="btn btn-raised btn-primary col-md-12" href="/admin/article_edit/new" role="button">新規作成</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">状態</th>
            <th scope="col">タイトル</th>
            <th scope="col">サブタイトル</th>
            <th scope="col">投稿日</th>
            <th scope="col">更新日</th>
            <th scope="col">#</th>
            <th scope="col">Twitter</th>
        </tr>
    </thead>
    <tbody>
        <% @articles.each do |article| %>
        <tr>
            <td><%= article.id %></td>
            <td><%= article.status %></td>
            <td><%= article.title %></td>
            <td><%= article.sub_title %></td>
            <td><%= article.created_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td><%= article.updated_at.strftime("%Y/%m/%d %H:%M") %></td>
            <td>
                <%= link_to '編集', "/admin/article_edit/#{article.id}/edit" %>
                <%= link_to '削除', "/admin/article_edit/#{article.id}", method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
            <td>
                <button type="button" id="<%= article.id %>" class="twitter_btn">
                    投稿
                </button>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>
<br>
<div class="mx-auto" style="width: 300px;">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt') %>
</div>