<div class="post">
    <%= link_to "/articles/#{article.id}", { class: "post-img" } do %>
    <%= image_tag_with_default article.title_image_compressed, {} %>
    <% end %>
    <div class="post-body">
        <div class="post-meta">
            <%= render partial: "layouts/category-and-area", locals: { categorys: article.categorys, areas: article.areas } %>
            <span class="post-date"><%= article.created_at.strftime("%Y/%m/%d") %></span>
        </div>
        <h3 class="post-title">
            <%= link_to "/articles/#{article.id}" do %>
            <%= article.title %>
            <p><%= article.sub_title %></p>
            <% end %>
        </h3>
    </div>
</div>