<% if !@area.nil? || !@category.nil? %>
<div class="row">
    <h4 class="ml-3 col-md-12" style="border-bottom: 1px solid #c85179;border-left: 10px solid #c85179;padding: 7px;">
        [
        <% if !@area.nil? %>
        <%= @area.name %>
        <% end %>
        <% if !@category.nil? %>
        <%= @category.name %>
        <% end %>
        ] の記事
    </h4>
</div>
<% end %>


<div class="row row-cols-1 row-cols-md-2">
    <% @articles.each_with_index do |ar, i| %>
    <div class="col mb-4 rounded">
        <div class="card h-100" style="border-radius: 15px;">
            <%= link_to "/articles/#{ar.id}" do %>
            <%= image_tag_with_default ar.title_image_compressed, class: "card-img-top art-img hover-img", style: "border-top-left-radius: 15px; border-top-right-radius: 15px;" %>
            <% end %>
            <div class="card-body">
                <div class="row">
                    <p class="ml-3 mt-1 mr-4"><%= ar.created_at.strftime("%Y/%m/%d") %></p>
                    <% ar.areas.each do |area| %>
                    <h5>
                        <%= link_to "/articles/pages/1?area=#{area.id}", { class: "badge badge-info m-1" } do %>
                        <%= area.name %>
                        <% end %>
                    </h5>
                    <% end %>
                    <% ar.categorys.each do |category| %>
                    <h5>
                        <%= link_to "/articles/pages/1?category=#{category.id}", { class: "badge badge-success m-1" } do %>
                        <%= category.name %>
                        <% end %>
                    </h5>
                    <% end %>
                </div>
                <h4>
                    <%= link_to ar.title , "/articles/#{ar.id}" %>
                </h4>
                <h5 class=" card-text"><%= ar.sub_title %></h5>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="mx-auto" style="width: 300px;">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt') %>
</div>