<% if @articles.length > 0 %>
<div class="row">
    <div class="col mb-4">
        <div class="card border-primary h-100">
            <%= link_to "/articles/#{@articles.first.id}" do %>
            <%= image_tag_with_default @articles.first.title_image, class: "card-img-top art-img hover-img" %>
            <% end %>
            <div class="card-body">
                <div><%= @articles.first.created_at.strftime("%Y/%m/%d") %></div>
                <h2>
                    <%= link_to @articles.first.title, "/articles/#{@articles.first.id}"  %>
                </h2>
                <h4 class="card-text"><%= @articles.first.sub_title %></h4>
            </div>
        </div>
    </div>
</div>
<% end %>

<div class="row row-cols-1 row-cols-md-2">
    <% @articles.each_with_index do |ar, i| %>
    <% if i != 0 %>
    <div class="col mb-4 rounded">
        <div class="card h-100">
            <a href="/articles/#{ar.id}">
                <%= image_tag_with_default ar.title_image, class: "card-img-top art-img hover-img" %>
            </a>
            <div class="card-body">
                <div><%= ar.created_at.strftime("%Y/%m/%d") %></div>
                <h4>
                    <%= link_to ar.title , "/articles/#{ar.id}" %>
                </h4>
                <h5 class="card-text"><%= ar.sub_title %></h5>
            </div>
        </div>
    </div>
    <% else %>
    <% end %>
    <% end %>
</div>
<div class="mx-auto" style="width: 300px;">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt') %>
</div>