<% if !@area.nil? || !@category.nil? %>
<div class="row">
    <h4 class="ml-3 col-md-12" style="border-bottom: 1px solid #c85179;border-left: 10px solid #c85179;padding: 7px;">
        [
        <% if !@area.nil? %>
        <%= @area.name %>
        <% end %>
        <% if !@category.nil? %>
        <%= @category.name %>
        <% end %>
        ] の記事
    </h4>
</div>
<% end %>
<% if @articles.length > 0 %>
<div class="row">
    <div class="col mb-4">
        <div class="card border-primary h-100" style="border-radius: 15px;">
            <%= link_to "/articles/#{@articles.first.id}" do %>
            <%= image_tag_with_default @articles.first.title_image, class: "card-img-top art-img hover-img", style: "border-top-left-radius: 15px; border-top-right-radius: 15px;" %>
            <% end %>
            <div class="card-body" style="border-radius: 15px;">
                <div><%= @articles.first.created_at.strftime("%Y/%m/%d") %></div>
                <h2>
                    <%= link_to @articles.first.title, "/articles/#{@articles.first.id}"  %>
                </h2>
                <h4 class="card-text"><%= @articles.first.sub_title %></h4>
            </div>
        </div>
    </div>
</div>
<% end %>

<div class="row row-cols-1 row-cols-md-2">
    <% @articles.each_with_index do |ar, i| %>
    <% if i != 0 %>
    <div class="col mb-4 rounded">
        <div class="card h-100" style="border-radius: 15px;">
            <%= link_to "/articles/#{ar.id}" do %>
            <%= image_tag_with_default ar.title_image, class: "card-img-top art-img hover-img", style: "border-top-left-radius: 15px; border-top-right-radius: 15px;" %>
            <% end %>
            <div class="card-body">
                <div><%= ar.created_at.strftime("%Y/%m/%d") %></div>
                <h4>
                    <%= link_to ar.title , "/articles/#{ar.id}" %>
                </h4>
                <h5 class="card-text"><%= ar.sub_title %></h5>
            </div>
        </div>
    </div>
    <% else %>
    <% end %>
    <% end %>
</div>
<div class="mx-auto" style="width: 300px;">
    <%= will_paginate(@articles, :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, :previous_label => ' &lt 前へ', :next_label => '次へ &gt') %>
</div>