<% set_meta_tags title: @article.title, description: @article.sub_title, og: { title: @article.title, type: 'article', image: @article.title_image_compressed }, twitter: { image: @article.title_image_compressed } %>
<%= javascript_pack_tag 'article/application' %>

<%= render partial: "layouts/breadcrumb", locals: { area: @areas.first } %>

<div class="row no-gutters">
    <div class="article-body card mb-3 col-12 col-md-9 mx-auto">

        <div class="card-body">
            <% if user_signed_in? %>
            <div class="row m-1">
                <%= link_to '編集', "/admin/article_edit/#{@article.id}/edit", { class: "btn btn-raised btn-primary col-md-12" } %>
            </div>
            <% end %>
            <h6 class="card-subtitle mb-2 text-muted" style="text-align:right;">作成日: <%= @article.created_at.strftime("%Y/%m/%d") %>　最終更新日: <%= @article.updated_at.strftime("%Y/%m/%d") %></h6>
            <h1 class="article-title">
                <%= @article.title %>
            </h1>
            <h2 class="article-sub-title ml-1"><%= @article.sub_title %></h2>
            <div class="row m-1">
                <div class="post-meta">
                    <%= render partial: "layouts/category-and-area", locals: { categorys: @categorys, areas: @areas } %>
                </div>
            </div>
            <%= render partial: "layouts/sns" %>
            <%= image_tag_with_default @article.title_image_compressed, class: "card-img-top mb-3" %>
            <div id="actual_content" class="art-p mt-2 markdown-body">
                <%= markdown_to_html @article.content %>
            </div>

            <div id="content_images_area" class="mt-2 d-flex justify-content-center">
                <% if @article.content_images.attached? %>
                <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <% @article.content_images.each_with_index do |image, i| %>
                        <li data-target="#carouselIndicators" data-slide-to="<%= i %>"></li>
                        <% end %>
                    </ol>
                    <div class="carousel-inner">
                        <% @article.content_images.each_with_index do |image, i| %>
                        <div class="carousel-item <%= "active" if i == 0 %>">
                            <%= image_tag image, { class: "d-block w-100" } %>
                        </div>
                        <% end %>
                    </div>
                    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                <% end %>

            </div>

            <%= render partial: "layouts/sns" %>
        </div>
    </div>

</div>


<% if @related_articles.present? %>
<div class="row">
    <div class="col-md-9 mx-auto col-xs-12">
        <h5>関連記事</h5>
    </div>
</div>
<% end %>

<div class="row">
    <div class="col-12 col-md-9 mt-2 mx-auto">
        <%= render partial: "articles/article-panel", collection: @related_articles, :as => "article" %>
    </div>
</div>