<!DOCTYPE html>
<html>

<head>
    <title>SurugabuApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand" href="/">
            <img src="/bootstrap-material-design/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            駿河部
        </a>
        <div class="navbar-brand sub-title">
            静岡県(東部)のスポット紹介
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-md-5 ml-xs-3">
                <li class="nav-item">
                    <a class="nav-link" href="/">TOP <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">地域で探す</a>
                    <div class="dropdown-menu">
                        <% @all_areas.each do |area| %>
                        <%= link_to area.name, "/articles/pages/1?area=#{area.id}", { class: "dropdown-item" } %>
                        <% end %>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ジャンルで探す</a>
                    <div class="dropdown-menu">
                        <% @all_categorys.each do |category| %>
                        <%= link_to category.name, "/articles/pages/1?area=#{category.id}", { class: "dropdown-item" } %>
                        <% end %>
                    </div>
                </li>

                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to "管理ページ", "/admin", { class: "nav-link" } %>
                </li>
                <li class="nav-item">
                    <%= link_to "ログアウト", destroy_user_session_path, { method: :delete, class: "nav-link" } %>
                </li>
                <% end %>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="検索したいワード">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
            </form>
        </div>

    </nav>

    <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
</body>

</html>