<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-167105126-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-167105126-1');
    </script>

    <%= display_meta_tags(default_meta_tags) %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: #e3f2fd;">
        <a class="navbar-brand ml-md-5 ml-sm-1" href="/" style="letter-spacing: 0.05em;">
            <img src="/assets/maguro.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            SURUGA-BU
        </a>
        <div class="navbar-brand sub-title d-none d-md-block">
            静岡県(東部)の紹介メディア
        </div>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Navber">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ml-md-5">
                <li class="nav-item">
                    <a class="nav-link" href="/">TOPページ<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">地域で探す</a>
                    <div class="dropdown-menu">
                        <% @all_areas.each do |area| %>
                        <%= link_to area.name, "/articles/pages/1?area=#{area.id}", { class: "dropdown-item" } %>
                        <% end %>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">ジャンルで探す</a>
                    <div class="dropdown-menu">
                        <% @all_categorys.each do |category| %>
                        <%= link_to category.name, "/articles/pages/1?category=#{category.id}", { class: "dropdown-item" } %>
                        <% end %>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about">SURUGA-BUとは<span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/contact">問い合せ<span class="sr-only">(current)</span></a>
                </li>

                <% if user_signed_in? %>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">管理</a>
                    <div class="dropdown-menu">
                        <%= link_to "管理ページ", "/admin", { class: "dropdown-item" } %>
                        <%= link_to "ログアウト", destroy_user_session_path, { method: :delete, class: "dropdown-item" } %>
                    </div>
                </li>
                <% end %>

            </ul>
            <!-- 
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="検索したいワード">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">検索</button>
            </form>
            -->
        </div>

    </nav>

    <div class="container">
        <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
        <%= yield %>
    </div>
    <footer class="static-bottom">
        <div class="container text-center">
            <small>&copy; suruba-bu</small>
        </div>
    </footer>
</body>

</html>